PROJECT_NAME=Portfolio
AUTHOR=Baptiste LO RE
STATUS=En chantier
REVISION=0.1
CONTACT_EMAIL=contact@baptiste-lore.com
DESCRIPTION=Le portfolio est en chantier. Les plans sont en cours de dessin.

# Traefik
APP_NAME=under-construction
DOMAIN=baptiste-lore.com
